

<h1 class="text-center"style="margin-top: 20px;"> View Patients details</h1>

<div class="container col-md-6 offset-md-3" style="margin-top: 30px;">
    
    <div >
        <label> <b> Patient ID : </b></label>{{patient.id}}
    </div>
    <div>
        <label> <b> Patient Serial : </b></label>{{patient.userCode}}
    </div>
    <div>
        <label> <b> Patient Name : </b></label>{{patient.name}}
    </div>
    <div>
        <label> <b> Patient Gender : </b></label>{{patient.gender}}
    </div>
    <div>
        <label> <b> Patient age : </b></label>{{patient.age}}
    </div>
    <div>
        <label> <b> Date of birth : </b></label>{{patient.date}}
    </div>
    <div>
        <label> <b> Patient Phone : </b></label>{{patient.phone}}
    </div>
    <div>
        <label> <b> Patient Email : </b></label>{{patient.email}}
    </div>
    <div>
        <label> <b> Patient Address : </b></label>{{patient.address}}
    </div>
    <div>
        <label> <b> Patient Image : </b></label>{{patient.imagePath}}
    </div>
    
</div>